{
displayStrings = (
"̒",
"ģ",
"AĄEĘIĮUŲaąeęı̨įuų",
"/caroncomb.alt",
"Ľbbľť
bfhklt/caroncomb.alt",
"To
TG
AG
Vo
DA
We
Wo
TO
AO
Wa
TC
Ye
Yo
ßn
TÄ
NO
nn
NH
Vö
Wö
Te
Yä
Va
fi
fl
",
"To
TG
AG
Vo
DA
We
Wo
TO
AO
Wa
TC
Ye
Yo
ßn
TÄ
NO
nn
NH
Vö
Wö
Te
Yä
Va
fi
fl
",
"To
TG
AG
Vo
DA
We
Wo
TO
AO
Wa
TC
Ye
Yo
ßn
TÄ
NO
fi
Te
fl
Va
AW
OA
AV
Ve
WA
AY
Ľb
Ľh
Ľl
ďb
ďt
ľb
ľh
ťb
ťh
ťk
ťl
UN
Yä
nn
Wö
Vö
",
"TO
AO
Vc
Ľb
fi
Yo
Vo
DA
fl
Ye
TG
ßn
TÄ
up
Ve
AC
HU
Wa
oo
HO
AV
nv
OH
QA
VA
TQ
OO
Ľh
Ľk
Ľl
ďb
ďh
ďk
ďl
ďt
ľb
ľh
ľk
ľl
ľt
ťb
ťf
ťh
ťk
ťl
ťt
Wö
nu
Ta
Fu
We
Wä
To
Yö
WA
Vä
Va
UN
",
"/periodcentered.loclCAT",
"/periodcentered.loclCAT.case",
"l/periodcentered.loclCAT l
L/periodcentered.loclCAT.case L",
"Ð",
"Đ"
);
}
