(
A,
Aacute,
Abreve,
Acaron,
Acircumflex,
Acircumflexdotbelow,
Adieresis,
Adotbelow,
Agrave,
Amacron,
Aogonek,
Aring,
Atilde,
AE,
B,
Bdotbelow,
C,
Cacute,
Ccaron,
Ccedilla,
Ccircumflex,
Cdotaccent,
D,
Dcaron,
Dcircumflexbelow,
Dcroat,
Ddotbelow,
Dmacronbelow,
Eth,
E,
Eacute,
Ecaron,
Ecedilla,
Ecircumflex,
Ecircumflexdotbelow,
Edieresis,
Edotaccent,
Edotbelow,
Egrave,
Emacron,
Eogonek,
Etilde,
Schwa,
Ezh,
Ezhcaron,
F,
G,
Gbreve,
Gcaron,
Gcircumflex,
Gcommaaccent,
Gdotaccent,
Gmacron,
Gstroke,
H,
Hbar,
Hcircumflex,
Hdotbelow,
I,
IJ,
Iacute,
Icaron,
Icircumflex,
Idieresis,
Idotaccent,
Idotbelow,
Igrave,
Imacron,
Iogonek,
Itilde,
J,
Jacute,
Jcircumflex,
K,
Kcaron,
Kcommaaccent,
Kmacronbelow,
L,
Lacute,
Lcaron,
Lcircumflexbelow,
Lcommaaccent,
Ldotbelow,
Lslash,
M,
Macute,
N,
Nacute,
Ncaron,
Ncircumflexbelow,
Ncommaaccent,
Ndotaccent,
Ndotbelow,
Ntilde,
Eng,
O,
Oacute,
Ocaron,
Ocircumflex,
Ocircumflexdotbelow,
Odieresis,
Odotbelow,
Ograve,
Ohungarumlaut,
Omacron,
Oslash,
Oslashacute,
Otilde,
OE,
P,
Thorn,
Q,
R,
Racute,
Rcaron,
Rcommaaccent,
S,
Sacute,
Scaron,
Scedilla,
Scircumflex,
Scommaaccent,
Sdotbelow,
Germandbls,
T,
Tbar,
Tcaron,
Tcedilla,
Tcircumflexbelow,
Tcommaaccent,
Tdotbelow,
Tmacronbelow,
U,
Uacute,
Ubreve,
Ucaron,
Ucircumflex,
Udieresis,
Udotbelow,
Ugrave,
Uhungarumlaut,
Umacron,
Uogonek,
Uring,
Utilde,
V,
W,
Wacute,
Wcircumflex,
Wdieresis,
Wgrave,
X,
Y,
Yacute,
Ycircumflex,
Ydieresis,
Ygrave,
Ymacron,
Ytilde,
Z,
Zacute,
Zcaron,
Zdotaccent,
Zdotbelow,
Saltillo,
Lcommaaccent.loclMAH,
Ncommaaccent.loclMAH,
J.salt,
K.salt,
S.001,
Germandbls.001,
Tbar.001,
M.salt,
a,
aacute,
abreve,
acaron,
acircumflex,
acircumflexdotbelow,
adieresis,
adotbelow,
agrave,
amacron,
aogonek,
aring,
atilde,
ae,
b,
bdotbelow,
c,
cacute,
ccaron,
ccedilla,
ccircumflex,
cdotaccent,
d,
dcaron,
dcircumflexbelow,
dcroat,
ddotbelow,
dmacronbelow,
eth,
e,
eacute,
ecaron,
ecedilla,
ecircumflex,
ecircumflexdotbelow,
edieresis,
edotaccent,
edotbelow,
egrave,
emacron,
eogonek,
etilde,
schwa,
ezh,
ezhcaron,
f,
g,
gbreve,
gcaron,
gcircumflex,
gcommaaccent,
gdotaccent,
gmacron,
gstroke,
h,
hbar,
hcircumflex,
hdotbelow,
hmacronbelow,
i,
idotless,
iacute,
icaron,
icircumflex,
idieresis,
idotaccent,
idotbelow,
igrave,
imacron,
iogonek,
itilde,
ij,
j,
jdotless,
jacute,
jcircumflex,
k,
kcaron,
kcommaaccent,
kmacronbelow,
l,
lacute,
lcaron,
lcircumflexbelow,
lcommaaccent,
ldotbelow,
lslash,
m,
macute,
n,
nacute,
ncaron,
ncircumflexbelow,
ncommaaccent,
ndotaccent,
ndotbelow,
ntilde,
eng,
o,
oacute,
ocaron,
ocircumflex,
ocircumflexdotbelow,
odieresis,
odotbelow,
ograve,
ohungarumlaut,
omacron,
oslash,
oslashacute,
otilde,
oe,
p,
thorn,
q,
r,
racute,
rcaron,
rcommaaccent,
s,
sacute,
scaron,
scedilla,
scircumflex,
scommaaccent,
sdotbelow,
germandbls,
t,
tbar,
tcaron,
tcedilla,
tcircumflexbelow,
tcommaaccent,
tdieresis,
tdotbelow,
tmacronbelow,
u,
uacute,
ubreve,
ucaron,
ucircumflex,
udieresis,
udotbelow,
ugrave,
uhungarumlaut,
umacron,
uogonek,
uring,
utilde,
v,
w,
wacute,
wcircumflex,
wdieresis,
wgrave,
x,
y,
yacute,
ycircumflex,
ydieresis,
ygrave,
ymacron,
ytilde,
z,
zacute,
zcaron,
zdotaccent,
zdotbelow,
saltillo,
lcommaaccent.loclMAH,
ncommaaccent.loclMAH,
a.salt,
e.salt,
g.salt,
k.salt,
g.salt2,
a.ss01,
g.ss01,
a.ss02,
b.ss02,
g.ss02,
q.ss02,
d.alt,
g.001,
j.001,
k.001,
germandbls.001,
germandbls.002,
germandbls.003,
germandbls.004,
germandbls.005,
germandbls.006,
germandbls.007,
germandbls.008,
germandbls.009,
germandbls.010,
tbar.001,
fi,
fl,
a_alt_one,
a_alt_two,
a_alt_three,
a_alt_four,
a_alt_five,
a_alt_six,
a_alt_schmal,
b_alt,
b_schmal,
c_alt_one,
c_schmal,
d_alt,
d_schmal,
e_alt_two,
e_alt_three,
e_alt_four,
e_alt_five,
f_alt,
g_001,
g_schmal,
k_alt_one,
m_alt,
m_alt_two,
m_alt_three,
n_alt,
n_alt_two,
o_alt,
p_schmal,
q_schmal,
r_alt,
r_alt_two,
r_alt_three,
s_alt,
s_alt_two,
germandbls_alt,
germandbls_alt_two,
u_alt,
w_alt_xxx,
y_alt,
g_alt.001,
ordfeminine,
ordmasculine,
Omega,
pi,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
zero.lf,
one.lf,
two.lf,
three.lf,
four.lf,
five.lf,
six.lf,
seven.lf,
eight.lf,
nine.lf,
zero.osf,
one.osf,
two.osf,
three.osf,
four.osf,
five.osf,
six.osf,
seven.osf,
eight.osf,
nine.osf,
zero.tf,
one.tf,
two.tf,
three.tf,
four.tf,
five.tf,
six.tf,
seven.tf,
eight.tf,
nine.tf,
zero.tosf,
one.tosf,
two.tosf,
three.tosf,
four.tosf,
five.tosf,
six.tosf,
seven.tosf,
eight.tosf,
nine.tosf,
zero.dnom,
one.dnom,
two.dnom,
three.dnom,
four.dnom,
five.dnom,
six.dnom,
seven.dnom,
eight.dnom,
nine.dnom,
zero.numr,
one.numr,
two.numr,
three.numr,
four.numr,
five.numr,
six.numr,
seven.numr,
eight.numr,
nine.numr,
fraction,
onehalf,
onequarter,
threequarters,
oneeighth,
threeeighths,
fiveeighths,
seveneighths,
zeroinferior,
oneinferior,
twoinferior,
threeinferior,
fourinferior,
fiveinferior,
sixinferior,
seveninferior,
eightinferior,
nineinferior,
zerosuperior,
onesuperior,
twosuperior,
threesuperior,
foursuperior,
fivesuperior,
sixsuperior,
sevensuperior,
eightsuperior,
ninesuperior,
space,
nbspace,
enspace,
emspace,
enquad,
emquad,
threeperemspace,
fourperemspace,
sixperemspace,
figurespace,
punctuationspace,
thinspace,
hairspace,
zerowidthspace,
zerowidthnonjoiner,
zerowidthjoiner,
narrownbspace,
"mediumspace-math",
lefttorightmark,
righttoleftmark,
"space-han",
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
ampersand.full,
asterisk.full,
at.full,
backslash.full,
colon.full,
comma.full,
exclam.full,
periodcentered.loclCAT,
numbersign.full,
percent.full,
period.full,
question.full,
quotedbl.full,
quotesingle.full,
semicolon.full,
slash.full,
underscore.full,
periodcentered.loclCAT.case,
question.001,
hyphen,
endash,
emdash,
underscore,
hyphen.full,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
braceleft.full,
braceright.full,
bracketleft.full,
bracketright.full,
parenleft.full,
parenright.full,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemotleft,
guillemotright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
florin,
baht,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
brokenbar,
dagger,
daggerdbl,
cent,
currency,
dollar,
euro,
hryvnia,
ruble,
rupeeIndian,
sheqel,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
notequal,
greater,
less,
greaterequal,
lessequal,
plusminus,
approxequal,
logicalnot,
asciitilde,
asciicircum,
infinity,
integral,
increment,
product,
summation,
radical,
micro,
partialdiff,
percent,
perthousand,
upArrow,
northEastArrow,
rightArrow,
southEastArrow,
downArrow,
southWestArrow,
leftArrow,
northWestArrow,
leftRightArrow,
upDownArrow,
dottedCircle,
lozenge,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaturnedabovecomb,
dotbelowcomb,
commaaccentcomb,
commaaccentcomb.loclMAH,
cedillacomb,
ogonekcomb,
circumflexbelowcomb,
macronbelowcomb,
strokeshortcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek,
apostrophemod,
primemod,
verticallinemod,
_serif.Spur,
_serif.C.BR,
_serif.C.TR,
_serif.E.TR,
_serif.I.BL,
_serif.I.BR,
_serif.I.TL,
_serif.I.TR,
_serif.S.BL,
_serif.S.BR,
_serif.T.TL,
_serif.T.TR,
_serif.Z.BR,
_serif.a.TL,
_serif.r.TR,
_serif.s.BL,
_serif.s.BR,
_serif.s.TR
)