{
displayStrings = (
"ĲĲ½½½½¼¼¼¼¾¾¾¾⅛⅛⅛⅛⅜⅜⅝⅝⅞⅞⅞⅞™™™™%%%%‰‰‰‰",
"̦̒",
"ĢĶĻŅŖȘȚ̒ģķļņŗșț",
"AAĄEEĘIIĮUUŲaaąeeęıįuuų",
"Ľďbľťt
bfhklt",
"",
"",
"nonllnon
NONLLNON",
"Đ",
"DĐ",
"Đ",
"Ð",
"đ",
"TO
AO
DA
Ye
Yo
Vo
HO
AV
TG
ßn
TÄ
Ve
Wa
nv
OH
QA
VA
TQ
OO
AC
up
fi
fl
Ľb
Ľh
Ľk
Ľl
ďb
ďh
ďk
ďl
ďt
ľb
ľh
ľk
ľl
ľt
ťb
ťf
ťh
ťk
ťl
ťt
",
"/periodcentered.loclCAT.case",
"nonl/periodcentered.loclCAT lnon
NONL/periodcentered.loclCAT.case LNON"
);
}
