{
displayStrings = (
"/a.ss01/aacute.ss01/abreve.ss01/acaron.ss01/acircumflex.ss01/acircumflexdotbelow.ss01/adieresis.ss01/adotbelow.ss01/agrave.ss01/amacron.ss01/aogonek.ss01/aring.ss01/atilde.ss01 e",
"/a.salt",
"/a.ss01",
"/abreve.ss01",
"eéěȩêệëėẹèēęẽ/e.ss03",
"/ae.ss03/e.ss03/eacute.ss03/ecaron.ss03/ecedilla.ss03/ecircumflex.ss03/ecircumflexdotbelow.ss03/edieresis.ss03/edotaccent.ss03/edotbelow.ss03/egrave.ss03/emacron.ss03/e.ss03/eogonek.ss03",
"eę",
"Ḿ",
k
);
}
